{{ attach_library('ambacht/flexible-modal') }}

{% for item in items %}
  <flexible-modal id="{{ item.id|default('modal') }}" title="{{ item.title }}"
    {{ item.isFullscreen ? 'isFullscreen' }}
  >
    {{ item.content }}

    <div slot="footer">
      <button class="button" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:close', { detail: { target: document.getElementById('{{item.id}}') } } ))">Cancel</button>
      <button class="button" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:update-title', { detail: { target: document.getElementById('{{item.id}}'), title: 'Updated title' } } ))">Update title</button>
      <button class="button" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:shake', { detail: { target: document.getElementById('{{item.id}}') } } ))">Shake</button>
    </div>
  </flexible-modal>

  <script>
    if (document.getElementById('{{ item.id}}')) {
      document.getElementById('{{ item.id}}').addEventListener('open', (event) => {
        console.log(this, event.type)
      });

      document.getElementById('{{ item.id}}').addEventListener('close', (event) => {
        console.log(this, event.type)
      });

      document.getElementById('{{ item.id}}').addEventListener('shake', (event) => {
        console.log(this, event.type)
      });

      document.getElementById('{{ item.id}}').addEventListener('update-title', (event) => {
        console.log(this, event.type)
      });

      document.getElementById('{{ item.id}}').addEventListener('update-content', (event) => {
        console.log(this, event.type)
      });
    }
  </script>

  <button class="button" aria-controls="{{ item.id }}" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:open', { detail: { target: document.getElementById('{{item.id}}') } } ))">Open {{ item.title }}</button>
{% endfor  %}
