{{ attach_library('ambacht/flexible-modal') }}

<script>
  window.onBeforeOpen = (event, context) => {
    console.log('onOpen', event, context);
  };
</script>

{% for item in items %}
  <flexible-modal id="{{ item.id|default('modal') }}" title="{{ item.title }}"
    {{ item.isFullscreen ? 'isFullscreen' }}
  >
    {{ item.content }}

    <div slot="footer">
      <button class="button" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:close', { detail: { target: document.getElementById('{{item.id}}') } } ))">Cancel</button>
      <button class="button" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:update-title', { detail: { target: document.getElementById('{{item.id}}'), title: 'Updated title' } } ))">Update title</button>
      <button class="button" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:shake', { detail: { target: document.getElementById('{{item.id}}') } } ))">Shake</button>
    </div>
  </flexible-modal>

  <button class="button" aria-controls="{{ item.id }}" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:open', { detail: { target: document.getElementById('{{item.id}}') } } ))">Open {{ item.title }}</button>
{% endfor  %}


<button class="button" onClick="document.dispatchEvent(new CustomEvent('flexible-modal:update-content', { detail: { target: document.getElementById('{{items[0].id}}'), data: '' } } ))">Cleanup as dispatchEvent</button>
